html, body {
  margin: 0;
  padding: 0;
}
body{
  padding-bottom: 120px; 
}

h1, h2, h3, p {
  margin: 0;
}


#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

.spinner-circle {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

#spinner p {
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.change-button{
  margin-top: -40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.change-button img{
  height: 30px;
  width: 30px;
  
  
}

.change-button button {
  background: none;
  border: none;
  cursor: pointer;
  
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.load-more button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.load-more button:hover {
  background-color: #2563eb; 
}

#loadMoreBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}