body{
    background-color: #2E6375;
}

.pokemon-card {
    border-radius: 8px;
    text-align: center;
    width: 170px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #244d69;
}



.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.normal.dialog-foto-container  {
    background-color: #A8A878;
    color: white;
    width: 100%;
}

.fire.dialog-foto-container  {
    background-color: #F08030;
    color: white;
    width: 100%;
}

.water.dialog-foto-container  {
    background-color: #6890F0;
    color: white;
    width: 100%;
}

.electric.dialog-foto-container  {
    background-color: #F8D030;
    color: black;
    width: 100%;
}

.grass.dialog-foto-container  {
    background-color: #78C850;
    color: white;
    width: 100%;
}

.ice.dialog-foto-container  {
    background-color: #98D8D8;
    color: black;
    width: 100%;
    
}

.fighting.dialog-foto-container  {
    background-color: #C03028;
    color: white;
    width: 100%;
    
}

.poison.dialog-foto-container  {
    background-color: #A040A0;
    color: white;
    width: 100%;
    
}

.ground.dialog-foto-container  {
    background-color: #E0C068;
    color: black;
    width: 100%;
    
}

.flying.dialog-foto-container  {
    background-color: #A890F0;
    color: white;
    width: 100%;
    
}

.psychic.dialog-foto-container  {
    background-color: #F85888;
    color: white;
    width: 100%;
    
}

.bug.dialog-foto-container  {
    background-color: #A8B820;
    color: white;
    width: 100%;
    
}

.rock.dialog-foto-container  {
    background-color: #B8A038;
    color: white;
    width: 100%;
}

.ghost.dialog-foto-container  {
    background-color: #705898;
    color: white;
    width: 100%;
}

.dragon.dialog-foto-container  {
    background-color: #7038F8;
    color: white;
    width: 100%;
    
}

.dark.dialog-foto-container  {
    background-color: #705848;
    color: white;
    width: 100%;
}

.steel.dialog-foto-container  {
    background-color: #B8B8D0;
    color: black;
    width: 100%;
}

.fairy.dialog-foto-container  {
    background-color: #EE99AC;
    color: black;
    width: 100%;
    
}


.type-icon {
    width: 22px;
    height: 22px;
    margin: 4px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    background-size: 72%;
}

.type-icon-container {
    margin-top: 10px;
}

.name-id{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    border: none;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    height: 400px;
    overflow: visible;
}


button {
    margin: -2px;
    cursor: pointer;
}

button:focus {
    outline: 2px solid #333;
}

.dialog-foto-container {
  width: 170px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;         
  overflow: visible;          
}



.dialog-foto {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.2s ease;
}

.dialog-foto:hover {
  filter: drop-shadow(0 8px 8px rgba(0,0,0,0.5));
  cursor: pointer;
}


#dialog-content {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #1a3947;
    border-radius: 17px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6); 
}

.tab-content {
    flex: 1;
    text-align: left;
    min-height: 200px; 
    background-color: #2E6375;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;                
    line-height: 1.5;  
    

}

.stats-ul {
    padding-inline-start: 20px;
    text-align: left;
    margin-block-start: 0;
}

/* progress-bar */
.stat-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;
}

.stat-name {
    width: 120px;
    text-transform: capitalize;
    white-space: nowrap;
}

.stat-bar {
    background-color: #eee;
    flex-grow: 1;
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 16px;
}

.stat-fill {
    background: linear-gradient(90deg, #ea3434, #b44141);
    height: 100%;
    transition: width 0.3s ease-in-out;
}



.card-update {
    margin: 0;
    width: 300px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-update {
    width: 300px;
}

.information {
    background-color: #244d69;
}

.tab-btn {
    flex: 1;
    border: none;  
    background: none;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    font-weight: bold;
    position: relative;
    
}

.tab-btn.active {
    color: white;
   
   
   
}

.tab-btn.active::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 97%; 
    height: 3px;
    background: red;
    border-radius: 2px;
}

.tab-btn:focus {
  outline: none;       
  box-shadow: none;    
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
}

.border {
    background: #000;
    width: 2px;
    height: 20px;
}

#tab-main p{
    display: flex;             
    justify-content: space-between;
    margin: 5px 0;

    
}

.label {
  display: inline-block;
  width: 118px;
  font-weight: bold;
  padding-left: 20px;
  font-size: 12px; 
}

.value {
  flex: 1; 
}

/* evo-chain */
#evo-chain {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.evo-image {
  width: 70px;
  height: auto;
}

.evo-arrow {
  font-size: 24px;
  color: white;
}


header{
    background-color: #244d69;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-search input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

footer{
    height: 100px;
    background-color: #244d69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer img{
    height:60px;
    width: 60px;
}

